---
import Layout from "@/layouts/Base";
import { titleClassNames, type PortfolioProjectType } from "../en/about.astro";
import PortfolioProjectCard, { h3ClassNames } from "@/components/PortfolioProjectCard";
import PortfolioGetInTouch from "@/components/PortfolioGetInTouch";
import GradientBlocks from "@/components/GradientBlocks";
import ItemRender from "@/components/ItemRender";

const projects: PortfolioProjectType[] = [
	{
		title: {
			name: "CribsKGL",
			desc: "Site immobilier"
		},
		fullDesc: "Conçu et développé en utilisant respectivement Figma et Next.js. Utilise Sanity.io, MongoDB et Next Auth 13. Construit avec des composants hautement réutilisables, accessibles et réactifs.",
		siteUrl: "https://cribskgl.vercel.app/",
		gitUrl: "https://github.com/ThePaulin/real-estate-site"
	},
	{
		title: {
			name: "Rare Finds Leather Bags",
			desc: "Site Web de commerce électronique"
		},
		fullDesc: "Site e-commerce entièrement fonctionnel. Développé avec Next.js et Sanity.io. Utilise l'intégration de Stripe pour traiter les paiements de manière sécurisée et simple.",
		siteUrl: "https://e-commerce-sanity-stripe-thepaulin.vercel.app/",
		gitUrl: "https://github.com/ThePaulin/e_commerce-sanity-stripe"
	},
]

const bixlersJobDescriptions = [
	'Concevoir, développer et maintenir des applications eCommerce Shopify performantes et évolutives en utilisant des technologies front-end modernes (React.js avec le framework Shopify Hydrogen) et back-end (Node.js).',
	"Collaborer avec des équipes pluridisciplinaires pour recueillir les exigences et les traduire en solutions techniques robustes, en mettant l'accent sur l'évolutivité et la maintenabilité.",
	'Concevoir et implémenter des interfaces utilisateur responsives, accessibles et intuitives, conformes aux normes WCAG et optimisées pour une compatibilité multi-appareils.',
	'Exploiter les méthodologies Agile (Jira) et SonarCloud pour optimiser les flux de développement, améliorant la qualité du code de 85 % et accélérant les délais de livraison.',
	"Diagnostiquer et résoudre proactivement des problèmes techniques complexes, minimisant l'impact sur les jalons du projet et la stabilité en production.",
	'Effectuer des tests rigoureux, déboguer et intégrer de manière fluide des services tiers via des API REST et GraphQL, garantissant fiabilité et performance du système.',
	"Diriger et participer aux revues de code, en appliquant les normes de codage, améliorant la maintenabilité et promouvant une culture d'excellence technique.",
	"Rester à la pointe des tendances de l'industrie, évaluer et adopter les technologies émergentes de développement web pour maintenir un avantage concurrentiel.",
]

const skills = [
	'JavaScript/TypeScript, Python, Go, C#, PHP, Java, C/C++ [LANGUAGES]',
	'HTML, CSS [SPÉCIFIQUE AU WEB]',
	'React, Remix, Next.js, Astro, Angular [JAVASCRIPT FRAMEWORKS]',
	'Node.js (Express), C#(ASP.NET), Go (Gin), Python (Flask) [BACKEND FRAMEWORKS]',
	'Testes unitaire et E2E (Vite test, Jest, Cypress) [TESTING]',
	'AWS, GCP, Azule, Shopify Oxygen, Netlify, Vercel [CLOUD PLATFORMS]',
]
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
    <GradientBlocks />
	<h1 class={titleClassNames}>À PROPOS</h1>
	<p>
		Salut! Je m'appelle <strong>Paulin Kubwira</strong>, en tant que développeur web full stack expérimenté avec plus de quatre ans d'expérience, j'ai livré avec succès une vaste gamme de projets innovants et à fort impact. Mon expertise couvre le développement front-end et back-end, complétée par de solides compétences en collaboration, communication et gestion de projets. Je m'épanouis dans des environnements dynamiques et rapides, en tirant parti de ma maîtrise technique et de mes compétences en résolution de problèmes stratégiques pour obtenir des résultats exceptionnels dans des initiatives complexes et transversales.
	</p>
	<PortfolioGetInTouch language="fr" />
	<a class="text-accent underline" href="https://ik.imagekit.io/thepaulin/CV-Paulin%20Kubwira-12-24.pdf?updatedAt=1733090102081" target="_blank">Voir et télécharger mon CV</a>


	<h2 class={titleClassNames}>PROJETS</h2>
	<ul class="list-inside list-disc flex flex-col gap-y-12">
		{
			projects.map((project) => (<PortfolioProjectCard project={project} />))
		}
	</ul>
	<h2 class={titleClassNames}>COMPÉTENCES</h2>
	<ul class="list-inside list-disc pl-6">
		{
			skills?.map( (el) => (<ItemRender item={el} />))
		}
	</ul>
	<h2 class={titleClassNames}>TRAVAIL</h2>
	<ul class="list-inside list-disc">
		<li class="flex flex-col pl-6"> 
			<h3 class={h3ClassNames}><strong class="text-accent">Bixlers</strong> - Full Stack Web developer (<a class="underline text-accent" href="https://www.bixlers.com" target="_blank">bixlers.com</a>, <a class="underline text-accent" href="https://www.perrywinkles.com" target="_blank">perrywinkles.com</a>)</h3>
			<ul class="ist-inside list-disc pl-6 flex flex-col gap-2">
				{
					bixlersJobDescriptions?.map( (el) => (<ItemRender item={el} />))
				}
			</ul>
		</li>
	</ul>
</Layout>
