---
import Layout from "@/layouts/Base";
import { titleClassNames, type PortfolioProjectType } from "../en/about.astro";
import PortfolioProjectCard, { h3ClassNames } from "@/components/PortfolioProjectCard";
import PortfolioGetInTouch from "@/components/PortfolioGetInTouch";

const projects: PortfolioProjectType[] = [
	{
		title: {
			name: "CribsKGL",
			desc: "Site immobilier"
		},
		fullDesc: "Conçu et développé en utilisant respectivement Figma et Next.js. Utilise Sanity.io, MongoDB et Next Auth 13. Construit avec des composants hautement réutilisables, accessibles et réactifs.",
		siteUrl: "https://cribskgl.vercel.app/",
		gitUrl: "https://github.com/ThePaulin/real-estate-site"
	},
	{
		title: {
			name: "Rare Finds Leather Bags",
			desc: "Site Web de commerce électronique"
		},
		fullDesc: "Site e-commerce entièrement fonctionnel. Développé avec Next.js et Sanity.io. Utilise l'intégration de Stripe pour traiter les paiements de manière sécurisée et simple.",
		siteUrl: "https://e-commerce-sanity-stripe-thepaulin.vercel.app/",
		gitUrl: "https://github.com/ThePaulin/e_commerce-sanity-stripe"
	},
]

const bixlersJobDescriptions = [
	'Développer et maintenir des applications Web de commerce électronique Shopify robustes et évolutives, en tirant parti des technologies frontales de pointe (React JS via le framework Shopify Hydrogen) et back-end (Node JS).',
	'Collaborer avec des équipes interfonctionnelles, rassembler les exigences et les traduire de manière experte en solutions techniques.',
	'Mettre en œuvre des interfaces réactives, accessibles et conviviales.',
	'Utiliser la methodologie Agile (Jira) et Sonar Cloud pour rationaliser le développement, améliorer la productivité et améliorer la qualité du code à 85 %.',
	'Résolver rapidement les problèmes techniques, en minimisant les perturbations des délais du projet.',
	'Effectuer des tests, du débogage et des services et API tiers intégrés (API REST et API GraphQL)',
	'Participer activement aux revues de code, en garantissant la qualité et la cohérence du code.',
	'Rester à jour avec les tendances et technologies émergentes en matière de développement Web.',
]

const skills = [
	'JavaScript/TypeScript',
	'HTML, CSS',
	'React, Remix, Next.js, Astro, Angular',
	'Node.js (Express), Go (Gin), Python (Flask)',
	'Testes unitaire et E2E (Vite test, Jest, Cypress)',
	'C#(ASP.NET)',
	'AWS, GCP, Azule, Shopify Oxygen, Netlify, Vercel',
]
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<div class="mb-8 flex items-center justify-end border border-accent ">
		<img class="size-full xl:size-[300px]" src="https://ik.imagekit.io/thepaulin/profile.4b2bbc9a463700b9bf98.png?updatedAt=1733003668030" />
	</div>
	<h1 class="title">À propos</h1>
	<p>
		Salut! Je m'appelle <strong>Paulin Kubwira</strong>, je suis un développeur web full stack avec plus de 4 ans d'expérience.
		J'ai eu la chance de travailler sur divers projets qui ont mis à l'épreuve mes compétences en matière de collaboration, de communication,
gestion de projet ainsi que des compétences techniques.
	</p>
	<PortfolioGetInTouch language="fr" />
	<a class="text-accent underline" href="https://ik.imagekit.io/thepaulin/CV-Paulin%20Kubwira-12-24.pdf?updatedAt=1733090102081" target="_blank">Voir et télécharger mon CV</a>


	<h2 class={titleClassNames}>PROJETS</h2>
	<ul class="list-inside list-disc flex flex-col gap-y-12">
		{
			projects.map((project) => (<PortfolioProjectCard project={project} />))
		}
	</ul>
	<h2 class={titleClassNames}>COMPÉTENCES</h2>
	<ul class="list-inside list-disc pl-6">
		{
			skills?.map( (el) => (<li>{el}</li>))
		}
	</ul>
	<h2 class={titleClassNames}>TRAVAIL</h2>
	<ul class="list-inside list-disc">
		<li class="flex flex-col pl-6"> 
			<h3 class={h3ClassNames}><strong class="text-accent">Bixlers</strong> - Full Stack Web developer (<a class="underline text-accent" href="https://www.bixlers.com" target="_blank">bixlers.com</a>, <a class="underline text-accent" href="https://www.perrywinkles.com" target="_blank">perrywinkles.com</a>)</h3>
			<ul class="ist-inside list-disc pl-6 flex flex-col gap-2">
				{
					bixlersJobDescriptions?.map( (el) => (<li>{el}</li>))
				}
			</ul>
		</li>
	</ul>
</Layout>
